html{
    height:100%;
}

body {
    background : linear-gradient(130deg,#000000, #2a2a2b);
    color: rgb(255, 255, 255);
    height : 100%;
}

.jumbo-color {
    background-color: rgb(37, 33, 33);
}

.center {
    margin: auto;
    width: 30%;
    border: 3px solid #1c88a8;
    padding: 10px;
}

.home {
    margin: auto;
    width: 80%;
    border : 3px solid #1c88a8;
    padding:10px;
}